/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/security.yml
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/src/Anytv/DashboardBundle/DataFixtures
/build/
/vendor/
/bin/
/nbproject/
/designs/
/web/.htaccess
/web/uploads/*
/web/media/*
/web/thumbs/*