{% if(error) %}
  {{ dump(error) }}
  <hr />
{% endif %}

{{ conversion.status }}

<a href="javascript:void(0)" onclick="changeConversionStatus('{{ path('conversion_change_status', { 'id': conversion.id }) }}', {{ conversion.id }});">

{% if(conversion.status == 'approved') %}
  reject
{% else %}
  approve
{% endif %}

</a>



