{% extends '::base.html.twig' %}

{% block title 'Any.TV Community' %}
        
{% block favicon %}
  <link rel="icon" type="image/x-icon" href="{{ asset('faviconcom.ico') }}" />
{% endblock %}
  
{% block header %}
<a href="{{ path('anytv_community_homepage') }}" title="Any.TV Community">
  <img src="{{ asset('bundles/anytvcommunity/images/logo.png') }}" alt="Any.TV Community" />
</a>
{% endblock %}
        
 
     
    
        

    
