/*
layout Styles
*/

/********************** General *******************/

body {
	background-image: url(../img/clouds-2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}

body.dashbrd-bg {
	background-image: none;
	background-color: #f1f1f1;
}
 
.cl {
	clear: both;
	float: none;
}

.cl-20 {
	clear: both;
	float: none;
	margin-bottom: 20px;
}



* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: ".";
  display: block;
}


.txt-default {
	color: #000 !important;
	text-shadow: none !important;
	text-align: center;
	font-size: 13px;
	margin-top: -10px;

}

/********************** Header *******************/

#top-navigation {
	z-index: 99;
}

#top-menus li {
	border-left: 1px solid #;
}

#main-nav {
	background: #fff;
}

#main-nav .navbar-text {
	margin: 21px 20px 0 0 !important;
	font-size: 13px;
	text-shadow: none;
}

#main-nav .navbar {
	border-radius: 0 !important;
	margin: 0 !important;
	background: transparent !important;
	border: none !important;
}

.atv-sites {
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

.dropdown-toggle {
	background-color: #fff !important;
	/*border: 1px solid #d2d2d2;*/
	height: auto !important;
	padding: 10px !important;
	margin-top: 5px;
}

.dd-height {
	border-radius: 0 !important;
}

.dd-height li a {
	padding: 10px !important;
}

.dd-height li a > img {
	padding-right: 10px;
}

.nav li a.lnk-blue {
	text-decoration: none;
	color: #2c7dc6 !important;
	font-weight: bold;
}

.nav li a.lnk-yellow {
	text-decoration: none;
	color: #eaa13f !important;
	font-weight: bold;
}

.nav li a.lnk-red {
	text-decoration: none;
	color: #dc2127 !important;
	font-weight: bold;
}

.dropdown a {
	font-size: 12px;
	text-decoration: none !important;
}

.sub-nav {
	height: 40px;
	border-radius: 0;
	border-bottom: none;
	margin-bottom:-5px;
	padding: 0;
	background-color: #005fb4;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dashbrd {
	background-color: #e89f3d !important;
}

.search-box {
	width: 200px;
	margin: 10px 10px 0 0;
}


.log-btn {
	font-size: 14px !important;
	font-weight: bold !important;
	margin-top: 10px !important;s	
	background-color: #eaa13f !important;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffc933;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffc933;
	box-shadow:inset 0px 1px 0px 0px #ffc933;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb700), color-stop(1, #ff9500) );
	background:-moz-linear-gradient( center top, #ffb700 5%, #ff9500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb700', endColorstr='#ff9500');
	background-image:  -ms-linear-gradient(top, #ffb700 5%, #ff9500 100%);	
	background-color:#ffb700;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #876614 !important;
	display:inline-block;
	color:#000000 !important;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffcc00;

	padding:6px 12px !important;
}

.mrgn-top {
	margin-top: 20px;
}

.mrgn-left {
	margin-left: 20px !important;
}

/********************** Content *******************/

#content {
	position: relative;	
	padding-top: 20px;
}

.brdr-h {
	border-bottom: 1px solid #dddddd;
	margin: 20px 0;
}

.mrgn-no {
	margin-top: -20px;
}


/********************** Section 1: Banner *******************/

.banner {
	height: 450px; 	
 }

.uptop {
	text-align: center;
	/*padding: 70px 0 20px 0;*/
}

.uptop h3,p {
	margin: 0;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}

.uptop h3 {
	margin-top: 100px;
	font-size: 48px;
	font-weight: 700;
	text-align: left;
}

.uptop p {
	font-size: 18px;
	text-align: left;
}

.uptop img {
	margin-top: 20px;
	max-width: 100%;
}

#lang-picker {
	width: 50px;
}

.yt-video {
	position: relative;
	top: -441px;
	max-width: 100%;
	width: 560px;
	height: 315px;
	max-height: 100%;
	margin: 0 auto;	

}

.yt-video iframe,
.yt-video object,
.yt-video embed {    
    width: 100%;
    height: 100%
}

.vid-yt {
	position: relative;
	top: -50px;

}

.ban-btns {
	list-style: none;
	text-align: left;
	margin: 0 !important;
}

.ban-btns li{
	display: inline-block;	
}

.btn-join {
	color: #fff;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	font-size: 18px !important;
	background-color: #d03431 !important;		
	padding: 20px 50px !important;	
	border: none !important;
	margin-top: 20px !important;
}

.btn-lrn {
	color: #fff;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif !important;
	font-size: 16px !important;
	font-weight: 700 !important;	
	background: transparent !important;
	border: 3px solid #fff !important;
	border-radius: 0 !important;
	margin: auto 0 !important;
	margin-left: 20px !important;

}



/********************** Section 2: Games Lists *******************/

#games-lists {	
	background-color: #fff;
}

.games-list-wrap {
	text-align: center;
	padding-top: 10px;
}

.games-list-wrap h3 {
	text-align: center;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	color: #2c7dc6;
}

.games-list-wrap h3 > strong {
	color: #e51915;
}

.games-list-wrap input {
	width: 60%;
	margin: 0 auto;
	height: 40px;

	background: white url(img/magnifying-glass.png) right no-repeat;

}


#in-pl::-webkit-input-placeholder { font-style: italic; }
#in-pl::-moz-placeholder { font-style: italic; } /* firefox 19+ */
#in-pl:-ms-input-placeholder { font-style:italic; } /* ie */
input:-moz-placeholder { font-style:; }

.games-list-wrap {
	text-align: left;
}


.gameslist-tbl-wrap {
	margin-top: 20px;
	width: 960px;
	margin: 20px auto;
}

.zclip-wrap {
	position: relative;
}


/********************** Section 3: Networks *******************/

#networks {
	background-color: #267ac5;	
	margin: 0;
}

#net-col1 {
	height: 350px;
	background: #fff url(img/anytv-blue-emblem.png) no-repeat right bottom;
}

#net-col2 {
	height: 350px;
}

.brdr-test {
	border: 1px solid white;
	height: 100%;
	background-color: #fff;
	border: 20px solid #267ac5;
	padding: 0 20px 0 20px;
}

.brdr-test p {
	color: #000;
}


/********************** Section 4 *******************/

#section4 {
	height: 380px;
	background-color: #e6e6e6;
	padding-top: 20px;
	margin: 0;
}


/********************** Section 5: About AnyTV *******************/

#about-anytv {
	height: 380px;
	background-color: #fff;
}


/********************** Footer *******************/

footer, .page-wrap:after {
	height: 50px; 	
}

footer {

	background-color: #f1f1f1;
	border-top: 1px solid #d7d7d7 ;
	margin: 0 !important;
}

.cpyrght-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 15px;
} 

/*.ft-links {
	float: left;
	list-style: none;
	margin-top: 15px;

}

.ft-links li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
} 

.ft-links a {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-shadow:1px 1px 0px #fff;
}

.ft-links a:hover {
	color: #333;
}*/



/********************** Dashboard *******************/

.ft-game p {
	margin-top: 10px;
	color: #272727 !important;
	text-shadow: none;
	font-size: 24px !important;
}

.ft-game img {
	max-width: 100%;
	text-align: center;
}

.txt-cntr p {
	font-family: Arial, Helvetica, sans-serif !important;
	text-align: center;
	color: #272727 !important;
	font-family: 12px !important;
	margin-top: 20px;
	text-shadow: none;
}

.txt-cntr a {
}


.lgin-panel > .panel-heading {
	background-color: #287ec1 !important;	
}

.lgin-panel > .panel-heading h3 {
	color: #fff;
}

.lgin-panel > .panel-body {
	padding: 30px;
}

.lgin-panel > .panel-body p {
	color: #000 !important;
	text-shadow: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.frgot-lnk {
	float: right;
	font-size: 11px;
}


.brdrrad-0 {
	border-radius: 0 !important;
}

#stat-txt {
	text-shadow: none;
}


