/*
layout Styles
*/

/********************** General *******************/
 
.cl {
	clear: both;
	height: 20px;
	margin: 0; /*com*/
}

body {
	background-image: url(../img/clouds-1.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-position: bottom;
}
/********************** Header *******************/


.main-nav  {
	padding-top: 5px;
	height: 70px;
	margin-bottom: 0;
	border-radius: 0;
	margin: 0;
}

.navbar-default {
	background: #ffffff;
	border: 0;
	/*border-bottom: 1px solid #ccc;*/
}

.navbar-inner {
	max-height: 40px;
}

#menu {
	height: 100%;
}

.lnk-blue {
	color: #2c7dc6;	
}

.navbar .brand {
	float: left;
	padding: 15px 0 0 30px;
}

.nav li {
	display: inline;
}

.subnav {
	height: 20px;
	border-radius: 0;
	border-bottom: none;
	margin-bottom:-5px;
	background-color: #005fb4;

	/*background-image: linear-gradient(bottom, rgb(15,78,137) 9%, rgb(49,129,199) 78%);
	background-image: -o-linear-gradient(bottom, rgb(15,78,137) 9%, rgb(49,129,199) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(15,78,137) 9%, rgb(49,129,199) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(15,78,137) 9%, rgb(49,129,199) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(15,78,137) 9%, rgb(49,129,199) 78%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(15,78,137)),
		color-stop(0.78, rgb(49,129,199))cv
	);


    -webkit-box-shadow: 0 2px 5px #1d1d1d;	*/	

}

#subnav-links ul > li > a {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

/* #subnav-links .navbar-nav > li > a {
	padding-top: 5px;
  	padding-bottom: 5px;
  	line-height: 20px;
} */


/********************** Section 1: Banner *******************/

.banner { 	
  	height: 730px;
}

.uptop {
	text-align: center;
	padding: 70px 0 20px 0;
}

.uptop h3,p {
	margin: 0;
	color: #fff;
}

.uptop img {
	margin-top: 20px;
}

#lang-picker {
	width: 50px;
}

.yt-video {
	position: relative;
	top: -441px;
	width: 560px;
	height: 315px;
	margin: 0 auto;	
}

.yt-video iframe,
.yt-video object,
.yt-video embed {    
    width: 100%;
    height: 100%;
}


.btn-join {
	color: #fff;
	font-weight: bold;
	background-color: #d03431;		
	padding: 20px 40px;
	
	
}

/********************** Section 2: Games Lists *******************/

#games-lists {
	height: 460px;
	background-color: #fff;
}

.games-list-wrap {
	text-align: center;
	padding-top: 10px;
}

.games-list-wrap input {
	width: 60%;
	margin: 0 auto;
	height: 40px;

	background: white url(img/magnifying-glass.png) right no-repeat;

}





/********************** Section 3: Networks *******************/

#networks {
	height: 380px;
	background-color: #267ac5;
	padding-top: 20px;
	margin: 0;
}

.brdr-test {
	border: 1px solid white;
	height: 100%;
	background-color: #fff;
}


/********************** Section 4 *******************/

#section4 {
	height: 380px;
	background-color: #fff;
	padding-top: 20px;
	margin: 0;
}


/********************** Section 5: About AnyTV *******************/

#about-anytv {
	height: 380px;
	background-color: #c057d1;
}

