/*
layout Styles
*/

/********************** General *******************/

body {
	background-image: url(../images/clouds-4.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}

body.dashbrd-bg {
	background-image: none;
	background-color: #f1f1f1;
}
 
.cl {
	clear: both;
	float: none;
}

.cl-20 {
	clear: both;
	float: none;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.page-wrap:after {
  content: ".";
  display: block;
}


.txt-default {
	color: #333 !important;
	text-shadow: none !important;
	text-align: center;
	font-size: 13px;
	margin-top: -10px;

}

.f-lft {
	float: left;
}

.f-rght {
	float: right;
}

.pdd-20 {
	padding: 0 20px 20px 20px;
}

.pdd-left-20 {
	padding-left: 20px;
}

.fnt-13 {
	font-size: 13px;
}

.v-mid {
	vertical-align: middle;
}

.mtop-10 {
	margin: 10px 0 0 0;
}

/********************** Header *******************/

#top-navigation {
	z-index: 99;
}

#top-menus li {
	border-left: 1px solid #;
}

#main-nav {
	background: #fff;
}

#main-nav .navbar-text {
	margin: 21px 20px 0 0 !important;
	font-size: 13px;
	text-shadow: none;
}

#main-nav .navbar {
	border-radius: 0 !important;
	margin: 0 !important;
	background: transparent !important;
	border: none !impofrtant;
}

.atv-sites li a {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 700 !important;
}

.dropdown-toggle {
	background-color: #fff !important;
	/*border: 1px solid #d2d2d2;*/
	height: auto !important;
	padding: 10px !important;
	margin-top: 5px;
}

.dd-height {
	border-radius: 0 !important;
}

.dd-height li a {
	padding: 10px !important;
}

.dd-height li a > img {
	padding-right: 10px;
}

.nav li a.lnk-blue {
	text-decoration: none;
	color: #2c7dc6 !important;
}

.nav li a.lnk-yellow {
	text-decoration: none;
	color: #eaa13f !important;
}

.nav li a.lnk-red {
	text-decoration: none;
	color: #dc2127 !important;

}

.dropdown a {
	font-size: 12px;
	text-decoration: none !important;
}

#sub-nav {
	height: 40px;
	border-radius: 0;
	border-bottom: none;
	margin-bottom:-5px;
	padding: 0;
	background-color: #005fb4;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#sub-nav .container-fluid {
	padding: 0 !important;
}

.dashbrd {
	background-color: #e89f3d !important;
	height: 100%;
}

.dashbrd .row {
	margin: 0;
	margin-left: 65px;
}

.search-box {
	width: 200px;
	margin: 10px 10px 0 0;
}


.log-btn {
	font-size: 14px !important;
	font-weight: bold !important;
	margin-top: 10px !important;s	
	background-color: #eaa13f !important;

	-moz-box-shadow:inset 0px 1px 0px 0px #ffc933;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffc933;
	box-shadow:inset 0px 1px 0px 0px #ffc933;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffb700), color-stop(1, #ff9500) );
	background:-moz-linear-gradient( center top, #ffb700 5%, #ff9500 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb700', endColorstr='#ff9500');
	background-image:  -ms-linear-gradient(top, #ffb700 5%, #ff9500 100%);	
	background-color:#ffb700;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #876614 !important;
	display:inline-block;
	color:#000000 !important;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffcc00;

	padding:6px 12px !important;
}

.mrgn-top {
	margin-top: 20px;
}

.mrgn-left {
	margin-left: 20px !important;
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
	#nvbr-txt {
		display: none;
	}
}

/********************** Content *******************/

#content {
	position: relative;	
	padding-top: 20px;
}

.brdr-h {
	border-bottom: 1px solid #dddddd;
	margin: 20px 0;
}

.mrgn-no {
	margin-top: -20px;
}


/********************** Section 1: Banner *******************/

.banner {
	/*height: 450px; 	*/
	padding: 30px 0 40px 0;
 }

@media (min-width: 320px) and (max-width: 479px) {
	.video-container {
		display: none;
	}
}

@media (min-width: 480px) and (max-width: 639px) {
	.video-container {
		display: none;
	}
}

@media (min-width: 640px) and (max-width: 767px) {
	.video-container {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.video-container {
		display: none;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.video-container {
		display: none;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cta-home {
	text-align: center;
	/*padding: 70px 0 20px 0;*/
}

.cta-home h3, .cta-home p {
	margin: 0;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 200;

}

.cta-home h3 {
	margin-top: 100px;
	font-size: 48px;
	font-weight: 700;
	text-align: left;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .cta-home h3 {
    margin-top: 20px;
  }
}

.cta-home p {
	font-size: 18px;
	text-align: left;
}

.cta-home img {
	margin-top: 20px;
	max-width: 100%;
}

#lang-picker {
	width: 50px;
}


.ban-btns {
	list-style: none;
	text-align: left;
	margin: 0 !important;
}

.ban-btns li{
	display: inline-block;	
}

.cta-btns {
	float: left;
	text-align: left;
	width: 100%;

}

.btn-join {
	color: #fff;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	font-weight: 700 !important;
	font-size: 24px !important;
	background-color: #d03431 !important;		
	padding: 20px 50px !important;	
	border: none !important;
	margin-top: 20px !important;
}

.btn-lrn {
	color: #fff;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	font-size: 16px !important;
	font-weight: 700 !important;	
	background: transparent !important;
	border: 3px solid #fff !important;
	border-radius: 0 !important;
	margin: auto 0 !important;
	margin-left: 20px !important;

}



/********************** Section 2: Games Lists *******************/

#games-lists {	
	background-color: #fff;
}

.games-list-wrap {
	text-align: center;
	padding-top: 10px;
}

.games-list-wrap h3 {
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 400;	
	color: #2c7dc6;
}

.games-list-wrap h3 > strong {
	color: #e51915;
	font-weight: 400;
}

.games-list-wrap input {
	width: 60%;
	margin: 0 auto;
	height: 40px;

}

.al-cntr {
	text-align: center;
}

#games-lists .table thead {

}

#games-lists .table tbody {
	border: 1px solid #dddddd;	
}

#games-lists .table thead > tr > th {
	border: 1px solid #dddddd;
	padding: 10px 20px !important;
	border: 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #333;
}

#games-lists .table tbody> tr:hover {
	background-color: #333;
	color: #fff;
}

#games-lists .table tbody> tr > td {
	padding: 10px 20px !important;
	font-size: 13px;
	vertical-align: middle;
}

#games-lists .table tbody> tr > td:first-child {
	font-weight: bold;
}

.btn-glink {

}

.th-games {
	background: #d71815;
}

.th-pay {
	background-color: #a31412;
}

.th-cntrs {
	background-color: #7a0f0d;
}

.th-plnks {
	background-color: #540807;
}

#in-pl::-webkit-input-placeholder { font-style: italic; }
#in-pl::-moz-placeholder { font-style: italic; } /* firefox 19+ */
#in-pl:-ms-input-placeholder { font-style:italic; } /* ie */
input:-moz-placeholder { font-style:; }

#in-pl {
	border-right: 0 !important;
}

.games-list-wrap {
	text-align: left;
}


.gameslist-tbl-wrap {
	margin-top: 20px;
	width: 960px;
	margin: 20px auto;
}

.zclip-wrap {
	position: relative;
}


/********************** Section 3: Networks *******************/

#networks {
	background-image: url(../images/grow-2.jpg);
	background-attachment: fixed;
	background-size: cover;	
	background-position: bottom;
	margin: 0;
	padding: 20px 0 20px 0;
	/*height: 500px;*/
}

.net-title h3 {
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 36px;
}

#net-col {
	height: 350px;
	background-color: #fff;
	padding: 20px;
	margin: 20px 0;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;	
}

#net-col h4 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.news-updates {
	overflow-y: scroll;
	height: 250px;
	text-align: left;
}


/********************** Section: About AnyTV *******************/

#about-anytv {
	
	background-color: #fff;
	padding: 20px 0 20px 0;
}

.aa-title h3 {
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #eaa13f;
	font-size: 36px;
}

/********************** Section: Our Partners *******************/

#our-partners {
	height: 380px;	
	padding: 20px 0 20px 0;
	margin: 0;

	background-image: url(../images/grass-1.jpg);
	background-attachment: fixed;
	background-size: cover;	
	background-position: top;

}

.op-title h3 {
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 36px;
}




/********************** Footer *******************/

footer, .page-wrap:after {
	height: 50px; 	
}

footer {

	background-color: #f1f1f1;
	border-top: 1px solid #d7d7d7 ;
	margin: 0 !important;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
	.page-wrap {
		margin-bottom: -90px !important;
	}

	footer, .page-wrap:after {
		height: 90px !important;
	}

	.cpyrght-txt, .sm-icons{
		float: left;
		width: 100%;
		text-align: center !important;
	}

}

.cpyrght-txt {
	position: relative;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-top: 15px;
} 

.sm-icons {
	float: right;
	margin-top: 15px;
}

.sm-icons ul{
	list-style: none;
}

.sm-icons li {
	display: inline;
	padding-right: 20px;
}

.sm-icons li a {
	color: #333333;
}

/********************** Dashboard *******************/

.ft-game p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	margin-top: 10px;
	color: #272727 !important;
	text-shadow: none;
	font-size: 24px !important;
}

.ft-game p > em {
	background-color: green;
	color: #fff;
	padding: 5px;
	font-size: 18px;
}

.ft-game img {
	max-width: 100%;
	text-align: center;
}

.txt-cntr p {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
	font-weight: 400;
	text-align: center;
	color: #272727 !important;
	font-family: 12px !important;
	margin-top: 20px;
	text-shadow: none;
}

.txt-cntr a {
}


.lgin-panel > .panel-heading {
	background-color: #287ec1 !important;	
}

.lgin-panel > .panel-heading h3 {
	color: #fff;
}

.lgin-panel > .panel-body {
	padding: 30px;
}

.lgin-panel > .panel-body p {
	color: #000 !important;
	text-shadow: none !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: 400;
	font-size: 13px;
}

.fld-lnk-sm {
	float: right;
	font-size: 11px;
}


.brdrrad-0 {
	border-radius: 0 !important;
}

#stat-txt {
	text-shadow: none;
}

.btn-create {
	background-color: #dc2127 !important;
	border: none !important;

}

.al-mid {
	text-align: center;
}

.al-mid h3 {
	font-family: 'Open Sans', Arial, Helvetica;	
	font-weight: 300;
	font-size: 48px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}


/******************************* FAQs **********************************/

.sec-content-title {
	padding: 50px 0;
}

.sec-content-title h3 {
	margin: 0 !important;
	font-family: 'Open Sans', Arial, Helvetica;
	font-weight: 700;
	font-size: 48px;
	color: #fff;
}

.sec-content-title p {
	color: #fff;
}


.sec-content {
	background-color: #fff;
	height: 100%;
	min-height: 430px;		
}

@media only screen and (min-height: 960px) {
	.sec-content {
		min-height: 650px;
	}
}

.sec-content .tab-content {
	padding: 20px 0;	
}

.font-lg {
	font-size: 28px;
}

/**/

.bootstrap-tagsinput { 
	width: 100%; 
	min-height: 45px;
	border-radius: 0 !important;
	padding: 10px 10px;
}

.label-info {
	background-color: #cc181e !important;
}

.term-con {
	text-align: center;
}

.term-con input[type=checkbox] {
	margin: 0 20px 20px 20px;
}

/************************************** Modal *****************************************/

#plnw-pop .modal{
	overflow: hidden !important;
}

#user-prof-img {
	text-align: center;
}

#user-prof-img img {
	border: 1px solid #ececec;
}

.preloader {
	text-align: center;
	width: 100%;
	height: 100px;
	background: #fff url(../images/preloader.gif) no-repeat center !important; 
}

#game-det .close-btn {
	position: absolute;
	left: 200px;
}

#game-det .modal-header {
	border-bottom: none !important;
}

#game-det .modal-body {
	padding: 0 !important;
}

#game-det-title {
	padding: 20px;
}

#game-det-banner {
	overflow: hidden;
	height: 200px;
}

#game-det-desc {
	font-size: 13px;
}

#game-det-lnk input[type="text"]:disabled {
	background-color: white;
	text-align: center;
}

#game-det-lnk #cpy-ref-btn1 {
	width: 100%;	
}

/******************************* User Profile **********************************/

#form-row-style > .form_row input {

	margin-bottom: 20px;
}


#form-row-style > .form_row select {
	margin-bottom: 20px;
	display: inline-block;
	outline: none;
}
