/* The CSS */
#brndkt-slide1 select {
    padding: 18px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 6px;
/*    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    background: #fff;
    color:#888;
    border: 1px solid #adadad;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-size: 18px !important;
    width: 370px;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .#brndkt-slide1 select {
        color: red !important;
    }
}


/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #brndkt-slide1 select {padding-right:18px;}
}

label {position:relative;}
label:after {
    content:'▼';
    font:18px "Consolas", monospace;
    color:#aaa;
/*   -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);*/
    right:10px; top:20px;
    padding:0 0 2px;
    /*border-bottom:1px solid #ddd;*/
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';

    right:6px; top:0px;
    width:20px; height:20px;
    background:#transparent;
    position:absolute;
    pointer-events:none;
    display:block;
}