{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    
    <div id="content">
		<section class="sec-content-title">
			<div class="container">
				<h3>{{ title }}</h3>
				<p>&nbsp;</p>				
			</div>
		</section>

		<section class="sec-content">
			<div class="container">
			<div class="cl-20"></div>
				<div class="row">
					<div class="col-lg-12">
                                            <p class="font-lg">
                                              

We have a branding kit!

<b><a href="http://big.file.tm/any.TV-branding-kit.zip">➜ Download it here</a></b>
                                            </p>
 <p class="font-lg">
You get:
 </p>
<ul>
	<li><span style="line-height: 13px;">any.TV intro</span></li>
	<li>"What is any.TV?" video that you can re-upload to your YouTube channel</li>
	<li>any.TV watermark</li>
	<li>any.TV logos</li>
</ul>
<h2>Branding Kit Video</h2>
<iframe width="768" height="432" src="//www.youtube.com/embed/ZBBlB23DwhA?list=PLyI74zGGymu8k7eVhGPcVSh3nKljHfiVX" frameborder="0" allowfullscreen></iframe>
<p class="font-lg">
Re-upload the "What is any.TV" video to your channel to help your audience learn about any.TV!

(Yes, you may claim it, monetize it and puts ads around the video if you want to :-))

Encourage them to sign-up using your "Refer-a-Friend" link in the video description.

Why? When they do, any.TV pays YOU a lifetime 10% bonus on top of everything they make!

Note: When you add the "any.TV intro" to your videos, also add the following in your video description:
</p>
<hr>
<p class="font-lg">
Credits
</p>
<p class="font-lg">
any.TV intro produced by EmotionVFX
</p>
<p class="font-lg">
➜ http://www.any.tv/emotionvfx
</p>
<hr>
<p class="font-lg">
Thank you!
</p>
<p class="font-lg">
any.TV Team
                                            </p>
                                        </div>
					
				</div>
			</div>
		</section>

	</div>
      

      {{ parent() }}
    
{% endblock %}
     


