{% extends 'AnytvMainBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}
     
{% block content_header '' %}

{% block content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    
    <div id="content">
		<section class="sec-content-title">
			<div class="container">
				<h3>{{ title }}</h3>
				<p>&nbsp;</p>				
			</div>
		</section>

		<section class="sec-content">
			<div class="container">
			<div class="cl-20"></div>
				<div class="row">
					<div class="col-lg-12">
                                            <p class="font-lg">
                                              <a href="https://docs.google.com/presentation/d/1NsCoRdfueLqLrkCg6nGEs7z8KGHYQP4z-DvSaE7jTgg/embed?start=false&amp;loop=false&amp;delayms=3000" target="_blank">Pop out the Recruiter Handbook ›</a>
                                            </p>
                                            <iframe width="770" height="605" src="https://docs.google.com/presentation/d/1NsCoRdfueLqLrkCg6nGEs7z8KGHYQP4z-DvSaE7jTgg/embed?start=false&amp;loop=false" marginwidth="0" marginheight="0" frameborder="0"></iframe>
                                        </div>
					
				</div>
			</div>
		</section>

	</div>
     

      

      {{ parent() }}
    
{% endblock %}
     


