<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			
			<div id="game-det">
		
				<div class="modal-body" id="profile_offer_content">
					
				</div>
			</div>
			
		</div>
	</div>
</div>