<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0)" onclick="showTab('{{ path('profile_traffic_referrals') }}');" data-toggle="tab">{% trans %}Traffic Referrals{% endtrans %}</a></li>
  </ul>
  <div class="tab-content" id="profile_tab_content">
    <div id="pane1" class="tab-pane active">
      <div id="user-content-offers">
    
      </div>
      <div class="cl-20"></div>
      <div class="progress progress-striped active" id="profile-tabs-progress-bar" style="display:none">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>												
      <div class="table-responsive" id="profile-tab-results">
        <div class="offer-tbl-wrap">
        </div>
      </div>				    	
    </div>
  </div>
</div>	

