<div class="tabbable">
  <ul class="nav nav-tabs"> 
    <li class="active"><a href="javascript:void(0)" onclick="showTab('{{ path('profile_company') }}');" data-toggle="tab">{% trans %}Company Details{% endtrans %}</a></li>
    <li><a href="javascript:void(0)" onclick="showTab('{{ path('profile_user') }}');" data-toggle="tab">{% trans %}User Details{% endtrans %}</a></li>
  </ul>
  <div class="tab-content" id="profile_tab_content">
    {{ render(controller('AnytvDashboardBundle:Profile:company', { 'mode': 'view' })) }}
  </div>						
</div>