{% extends '::base.html.twig' %}

{% block title 'Any.TV' %}

{% block submenu %}
<div id="sub_menu">
  <ul>
    <li><a href="{{ path('news') }}" title="Offers">News</a></li>
  </ul>
</div>    
{% endblock %}


        
        
 
     
    
        

    
