# Use the front controller as index file. It serves as a fallback solution when
# every other rewrite/redirect fails (e.g. in an aliased environment without
# mod_rewrite). Additionally, this reduces the matching process for the
# start page (path "/") because otherwise Apache will apply the rewriting rules
# to each configured DirectoryIndex file (e.g. app.php, index.html, index.pl).
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(old-website|test|thumbs|tweak)(?:/|$) - [QSA,L]
    RewriteRule ^(.*)/$ http://%{HTTP_HOST}/$1 [QSA,L]


RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^donate/?$ http://www.extra-life.org/participant/5tefanK [R=302,L]

RewriteCond %{HTTP_HOST} ^any\.tv [NC]
RewriteRule (.*) http://www.any.tv/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^faq\.any\.tv$
RewriteRule ^/?$ https://docs.google.com/spreadsheet/ccc?key=0AjrNKskJC13udFVicHBkbGVWN244UTVVaUplZzdTMXc&usp=sharing [R=302,L]

RewriteCond %{HTTP_HOST} ^games\.any\.tv$
RewriteRule ^/?$ https://docs.google.com/spreadsheet/ccc?key=0AjrNKskJC13udGwzVnJDTUxwNTNNRllsYzRDdDlVRVE&usp=sharing [R=302,L]

RewriteCond %{HTTP_HOST} ^staff\.any\.tv$
#RewriteRule ^/?$ https://drive.google.com/a/any.tv/?usp=folder#folders/0BybhXkw50k5YMEdDYm5jazA3c3M [R=302,L]
RewriteRule ^/?$ https://docs.google.com/a/any.tv/folder/d/0BybhXkw50k5YMEdDYm5jazA3c3M/edit?docId=0AhspiopiIBD9dDV0a0U2bS1fbk5ZaWxKSk9Ibmx1cVE [R=302,L]

RewriteCond %{HTTP_HOST} ^dev\.any\.tv$
RewriteRule ^/?$ https://docs.google.com/a/any.tv/folder/d/0BzrNKskJC13uc2dTbzFZaW1GUkk/edit [R=302,L]

RewriteCond %{HTTP_HOST} ^projects\.any\.tv$
RewriteRule ^/?$ https://docs.google.com/a/any.tv/folder/d/0BxspiopiIBD9TWt4VllrMVBVNm8/edit [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^submit/?$ http://www.any.tv/upload/ [R=302,L]

#RewriteCond %{HTTP_HOST} ^www\.any\.tv$
#RewriteRule ^games/?$ http://www.dashboard.tm/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^developers/?$ http://www.any.tv/jobs/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^divine-souls/?$ http://www.divinesouls.tm [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^anytv-branding-kit/?$ http://www.any.tv/branding/ [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^handbook/recruiters/?$ http://www.any.tv/recruiters-handbook/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^music/funkorama/?$ http://incompetech.com/music/royalty-free/index.html?genre=Funk&page=1 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^music/farhan/?$ http://www.youtube.com/farhankk360 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^music/jedborg/?$ http://www.youtube.com/Jedborg [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^music/?$ http://musicdrop.org/ [R=302,L]

#RewriteCond %{HTTP_HOST} ^www\.any\.tv$
#RewriteRule ^emotionvfx/?$ http://emotionvfx.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^big-c/?$ https://www.facebook.com/pages/Big-C/196773857029359 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^refer-a-friend/?$ http://www.youtube.com/watch?v=Hs1Tq_Mi_Yg&list=PLyI74zGGymu8k7eVhGPcVSh3nKljHfiVX [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/?$ http://www.any.tv/games/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/age-of-conan/?$ http://www.ageofconan.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/age-of-wulin/?$ http://wulin.gpotato.eu/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/age-of-wushu/?$ http://www.ageofwushu.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/aion/?$ http://www.aiononline.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/allods-online/?$ http://allods.gpotato.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/andromeda-5/?$ http://www.andromeda5.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/arcade-safari/?$ http://www.arcadesafari.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/arena-of-heroes/?$ http://arenaofheroes.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/atlantica-online/?$ http://atlantica.nexon.net/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/battlestar-galactica-online/?$ http://battlestar-galactica.bigpoint.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/big-farm/?$ http://bigfarm.goodgamestudios.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/call-of-gods/?$ http://callofgods.aeriagames.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/castle-story/?$ http://www.castlestory.net/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/champions-of-regnum/?$ http://www.championsofregnum.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/contrast/?$ http://www.contrastgame.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/crystal-saga/?$ http://cs.r2games.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/cultures-online/?$ http://culturesonline.gamigo.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/dark-orbit/?$ http://www.darkorbit.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/demon-slayer/?$ http://demon.koramgame.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/dc-universe-online/?$ http://www.dcuniverseonline.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/disney-ghosts-of-mistwood/?$ http://www.playdom.com/games/mistwood [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/dragon-nest/?$ http://dragonnest.nexon.net/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/dragons-of-atlantis/?$ http://www.dragonsofatlantis.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/dragons-prophet/?$ https://www.dragonsprophetthegame.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/drakensang-online/?$ http://www.drakensang.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/edgeworld/?$ http://www.edgeworldgame.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/elsword/?$ http://www.elswordonline.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/everquest/?$ http://www.everquest.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/everquest-2/?$ http://www.everquest2.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/evony/?$ http://www.evony.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/faeria/?$ http://www.faeria.net/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/fiesta/?$ http://fiesta.gamigo.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/forge-of-empires/?$ http://www.forgeofempires.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/garbage-garage/?$ http://www.garbagegarage.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/ghost-recon/?$ http://ghost-recon.ubi.com/ghost-recon-online/en-US/landing/register_form.aspx [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/goal-united/?$ http://www.goalunited.org/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/god-of-axion/?$ http://www.godofaxion.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/godsrule/?$ http://playgodsrule.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/godfather-five-families/?$ http://www.godfatherfivefamilies.com/ [R=302,L]

#RewriteCond %{HTTP_HOST} ^www\.any\.tv$
#RewriteRule ^game/godsrule-social/?$ ? [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/goodgame-empire/?$ http://empire.goodgamestudios.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/grand-fantasia/?$ http://grandfantasia.aeriagames.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/grepolis/?$ http://www.grepolis.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/gunz-2/?$ http://gunz2.de/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/habbo/?$ http://www.habbo.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/hearthstone-heroes-of-warcraft/?$ http://battle.net/hearthstone/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/hero-academy/?$ http://www.robotentertainment.com/games/heroacademy/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/heroes-of-newerth/?$ http://www.heroesofnewerth.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/the-hobbit/?$ http://hobbit-armies.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/the-hunter/?$ http://www.thehunter.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/imperia-online/?$ http://www.imperiaonline.org/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/imperium-galactic-war/?$ https://www.kabam.com/games/imperium-galactic-war [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/interstallar-marines/?$ http://www.interstellarmarines.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/last-chaos/?$ http://lastchaos.aeriagames.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/left-4-dead-2/?$ http://www.l4d.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/league-of-legends/?$ https://signup.leagueoflegends.com/en/signup/index [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/lord-of-the-rings-online/?$ http://signup.lotro.com/lotro.php [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/lord-of-ultima/?$ http://www.lordofultima.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/maestia/?$ http://www.playmaestia.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/marvel-avengers-alliance/?$ http://www.playdom.com/games/avengers [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/mechwarrior-online/?$ http://mwomercs.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/miner-wars/?$ http://www.minerwars.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/my-free-zoo/?$ http://www.myfreezoo.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/my-little-farmies/?$ http://www.mylittlefarmies.de/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/naruto-saga/?$ http://saga.games.la/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/ultimate-naruto/?$ http://saga.games.la/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/neos-land/?$ http://www.kickstarter.com/projects/neojac/neos-land-a-new-beginning [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/nether/?$ https://www.playnether.com/?ref=iuUaFc7TTO2IN7D0kOPLvg%3D%3D [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/neverwinter/?$ http://nw.perfectworld.com/ [R=302,L]
#RewriteRule ^game/neverwinter/?$ http://www.playneverwinter.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/nindou/?$ http://nindou.bisbog.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/no-name-game/?$ http://www.nonamegame.de/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/ogame/?$ http://www.ogame.org/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/orcs-must-die/?$ http://www.robotentertainment.com/games/orcsmustdie/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/orcs-must-die-2/?$ http://www.robotentertainment.com/games/omd2/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/overkings/?$ http://www.overkings.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/panzar/?$ http://www.panzar.com [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/pirate-storm/?$ http://www.piratestorm.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/planetside-2/?$ http://www.planetside2.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/prime-world/?$ http://en.playpw.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/raiderz/?$ http://raiderz.perfectworld.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/rappelz/?$ http://rappelz.gpotato.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/rising-cities/?$ http://www.risingcities.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/runes-of-magic/?$ http://www.runesofmagic.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/s4-league/?$ http://s4.en.alaplaya.net/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/scarlet-blade/?$ http://scarletblade.aeriagames.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/settlers-online/?$ http://www.thesettlersonline.net/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/shakes-and-fidget/?$ http://www.sfgame.de/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/siege-on-stars/?$ http://sos.joyhubs.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/skill/?$ http://skill.gameforge.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/smashmuck-champions/?$ http://www.smashmuck.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/starlight-story/?$ http://www.aeriagames.com/playnow/slsus [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/star-trek-online/?$ http://www.startrekonline.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/star-wars-the-old-republic/?$ http://www.swtor.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/supremacy-1914/?$ http://www.supremacy1914.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/tera/?$ http://tera.enmasse.com/ [R=302,L]
# We should redirect to http://tera-europe.com/ for non-USA and Canada countries

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/tribal-wars/?$ http://www.innogames.com/en/games/Tribal-Wars [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/ufo-online/?$ http://ufoonline.gamigo.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/war-thunder/?$ http://warthunder.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/warframe/?$ https://www.warframe.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/wargame-1942/?$ http://www.wargame1942.us/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/wartune/?$ http://www.kabam.com/games/wartune [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/world-golf-tour/?$ http://www.wgt.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/world-of-tanks/?$ http://worldoftanks.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^game/world-of-warplanes/?$ http://worldofwarplanes.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^software/xsplit/?$ http://www.xsplit.com/ [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^service/vexxhost/?$ http://vexxhost.com/cloud_hosting?a=182 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^join/?$ http://www.dashboard.tm/signup/1000 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^partners/?$ http://www.dashboard.tm/signup/1000 [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^help/?$ https://docs.google.com/spreadsheet/ccc?key=0AjrNKskJC13udGwzVnJDTUxwNTNNRllsYzRDdDlVRVE&usp=sharing [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^george/?$ http://www.youtube.com/watch?v=Czccyu7euNQ&list=PLyI74zGGymu8k7eVhGPcVSh3nKljHfiVX [R=302,L]

RewriteCond %{HTTP_HOST} ^www\.any\.tv$
RewriteRule ^helpgeorge/?$ http://www.any.tv/help-george/ [R=302,L]

RewriteCond %{HTTP_HOST} ^cpanel\.any\.tv$
RewriteRule ^/?$ https://node24.mtl.net.vexxhost.com:2083 [R=302,L]

RewriteCond %{HTTP_HOST} ^gameprix\.any\.tv$
RewriteRule ^/?$ https://docs.google.com/folder/d/0BzrNKskJC13uaEV5aE9SU1NRQUU/edit?docId=0AjrNKskJC13udFZWeEVDV2tzVlJBajIwZE8zRGNiZnc [R=302,L]

RewriteCond %{HTTP_HOST} ^plan\.any\.tv$
RewriteRule ^/?$ "https\:\/\/docs\.google\.com\/a\/any\.tv\/document\/d\/1TdS4uBnbuakBqfpZ96UYyV\-ifG5RONXZyo2hZMTHbpo\/edit" [R=302,L]

RewriteCond %{HTTP_HOST} ^team\.any\.tv$
RewriteRule ^/?$ "https\:\/\/docs\.google\.com\/a\/any\.tv\/spreadsheet\/ccc\?key\=0AjrNKskJC13udHo4MWNXZ0pNOHJFTDg0eGl1TDRQQ3c" [R=302,L]

RewriteCond %{HTTP_HOST} ^mmotm\.any\.tv$
RewriteRule ^/?$ "https\:\/\/docs\.google\.com\/a\/any\.tv\/folder\/d\/0BzrNKskJC13uSG1UT0dOcEM4b1E\/edit" [R=302,L]

RewriteCond %{HTTP_HOST} ^forms\.any\.tv$
RewriteRule ^/?$ "https\:\/\/docs\.google\.com\/a\/any\.tv\/folder\/d\/0BzrNKskJC13uSENlX0hTMzMwZnM\/edit" [R=302,L]



    DirectoryIndex app.php

    # Determine the RewriteBase automatically and set it as environment variable.
    # If you are using Apache aliases to do mass virtual hosting or installed the
    # project in a subdirectory, the base path will be prepended to allow proper
    # resolution of the app.php file and to redirect to the correct URI. It will
    # work in environments without path prefix as well, providing a safe, one-size
    # fits all solution. But as you do not need it in this case, you can comment
    # the following 2 lines to eliminate the overhead.
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Redirect to URI without front controller to prevent duplicate content
    # (with and without `/app.php`). Only do this redirect on the initial
    # rewrite by Apache and not on subsequent cycles. Otherwise we would get an
    # endless redirect loop (request -> rewrite to front controller ->
    # redirect -> request -> ...).
    # So in case you get a "too many redirects" error or you always get redirected
    # to the start page because your Apache does not expose the REDIRECT_STATUS
    # environment variable, you have 2 choices:
    # - disable this feature by commenting the following 2 lines or
    # - use Apache >= 2.3.9 and replace all L flags by END flags and remove the
    #   following RewriteCond (best solution)
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

    # If the requested filename exists, simply serve it.
    # We only want to let Apache serve files and not directories.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule .? %{ENV:BASE}/app.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    DirectoryIndex app.php

    <IfModule mod_alias.c>
        # When mod_rewrite is not available, we instruct a temporary redirect of
        # the start page to the front controller explicitly so that the website
        # and the generated links can still be used.
        RedirectMatch 302 ^/$ /app.php/
        # RedirectTemp cannot be used instead
    </IfModule>
</IfModule>
